<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/learn.css">
<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<div class="start">
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto styleNav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./explore">BOOK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./records">HISTORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">TEAM</a>
            </li>
            <li class="nav-item">
              <a href="./profilepage"> <button type="button" class="btn btnStyle">SHRUTI</button></a>
             </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="header">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
       <img src="/images/1.png" style="position: relative; " alt="doctor"/>
      </div>
      <div class="col-sm-6">
        <h2 class="aboutHeading">Learn<br> And Explore</h2>
        <a href="#doctorsec"><button class="btn medicalBtn2">FIND DOCTORS</button></a>
       </div>
      </div>
     </div>
  </section>
    </div>

    <section id="records">
      <div class="row-sm-6">
         <a href="#"> <button class="btn" style="background-color: #FE4A5B; color: white;">All</button></a>
         <a href="#hospitalsec"> <button class="btn">Hospitals</button></a>
         <a href="#doctorsec"> <button class="btn">Doctors</button></a>
         <a href="#diseases"> <button class="btn">Diseases</button></a>
      </div>
    </section>

  <section id="diseases" style="padding-top: 5%;">
    <div class="container disease-head">
        <h4 class="head-deal">COMMON DISEASES</h4>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 15vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COVID-19</p>
              </div>
            </div>
          </div>

      </div>
       
         
    </div>
    </section>
    <section id="hospitalsec" style="padding-top: 5%;">
      <div class="container hosp-head">
          <h4 class="head-deal">NEARBY HOSPITALS</h4>
          <div  class="owl-one owl-carousel owl-theme">
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospitalVector.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color:#fff !important"> <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p></a>
                </div>
              </div>
            </div>
        </div>
         
           
      </div>
      </section>

      <section id="doctorsec" style="padding-top: 5%;">
        <div class="container hosp-head">
            <h4 class="head-deal">NEARBY DOCTORS</h4>
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/8.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
               <a href="./know" style="text-decoration: none; color: #fff;"><p class="card-text ftr-p" style="text-align: center;" >DOCTOR</p></a>
                  </div>
                </div>
              </div>

              
             </div> 
            
          </div>
           
             
        </div>
        </section>
    
    <section id="features" style="padding-top: 5%;">
        <h1 class="aboutStyle"><span style="font-family: Roboto;
          font-style: normal;
      margin-bottom: 10%;
      font-weight: bold;
      font-size: 36px;
      line-height: 16px;
      color: #FE4A5B;
      ">FE</span>ATURES</h1>
       
          <div class="container row upper" style="margin: auto;">
<div class="col-lg-4"><div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
  <img src="images/aboutImage.png" class="card-image" alt="Avatar" >
  <button type="button" class="btn card-name">ONLINE PRESCRIPTIONS</button>
  </div>
  <div class="flip-card-back">
  
  <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>
  
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-lg-4">
  <div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
  <img src="images/8.png" class="card-image" alt="Avatar" >
  <button type="button" class="btn card-name">FIND NEARBY
    DOCTORS</button>
  </div>
  <div class="flip-card-back">
  
  <p>With increasing purchases, the small businesses would contribute 1% of their revenues towards preserving nature.</p>
  
  </div>
  </div>
  </div></div>
  
  <div class="col-lg-4"><div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
    <img src="images/1.png" class="card-image" alt="Avatar" >
    <button type="button" class="btn card-name">
    MEDICAL HISTORY</button>
    </div>
    <div class="flip-card-back">
    
    <p>After every 10 orders that you place, we plant a tree! </p>
    
    </div>
    </div>
    </div>
    </div>
  
  </section>

      <script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

<%-include ("partials/footer") -%>
