<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/home.css">
<div class="start">
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto styleNav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./explore">BOOK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./records">HISTORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">TEAM</a>
            </li>
            <li class="nav-item">
              <a href="./profilepage"> <button type="button" class="btn btnStyle">SHRUTI</button></a>
             </li>
          
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="header">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
       <img src="/images/doctorHome.png" style="position: relative; padding-top: 9%; " alt="doctor"/>
      </div>
      <div class="col-sm-6">
        <h1 class="aboutHeading">Say yes to <br> good health</h1>
        <a href="./records"><button class="btn medicalBtn">MEDICAL HISTORY</button></a>
        <a href="./explore"><button class="btn medicalBtn2">FIND YOUR DOCTOR</button></a>
       </div>
      </div>
     </div>
  </section>
</div>

  <section id="about">
  
    <div class="bgAbout">
    <h1 class="aboutStyle"><span style="font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 16px;
      
      color: #FE4A5B;
      ">AB</span>OUT</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <p class="paraStyle">Medica is a platform that connects all the people of our country to the doctors they go to for consultation and safeguard all the tips, prescriptions & reports digitally for future use. The idea is to automate the  traditional way of writing prescriptions by digitalising them and keeping a record of them so that patients can track them easily anytime & anywhere. The platform won’t just be limited to securing medical reports & prescriptions, the patients will also have the opportunity to use the platform for getting the correct information about their disease, the tests they can take, and the doctors nearby to which they can consult, which will surely help patients make the best decision. 
                  <br><br>
                  Our solution to help our frontline workers is to provide them with clinical decision support and management tools to offer the best healthcare decisions is something that we all know about, it just has to be executed in a way that all of our efforts come together and make a bigger impact. Imagine going to the doctor for the treatment of diabetes and not taking your previous medical reports & prescriptions with you, because either you have misplaced them, or your child has used them in his art homework, or simply you have forgotten them at home. 
                  <br><br>
                  How odd would it be for a doctor to treat you without knowing your previous problems, solutions, side-effects and medicines? Now, think of the doctor having an app on his phone, by which he can scan the QR in your phone, or just simply type the Phone Number of yours, linked to your Aadhar Card, to get all your medical history. Now, your doctor has accurate test results in hand and details about your past & current medications. This would make the process much easier for the doctors to analyse the patient’s situation, and the doctor’s response would be much more reliable and perfect.

                  </p>
                  </div>
                  <div class="col-sm-6">
                    <img src="/images/aboutImage.png" alt="checkup" style="width: 546px;
                    height: 476px;
                    position: relative;
                    right:-30%">
                  </div>
                </div>
      </div>
    </div>
  </section>
  <div class="clr"></div>

  <div class="clr"></div>


  <section id = "why_us" style="padding-bottom: 10%;">
    <h1 class="aboutStyle"><span style="font-family: Roboto;
      font-style: normal;
      margin-bottom: 10%;
      font-weight: bold;
      font-size: 36px;
      line-height: 16px;
      color: #FE4A5B;
      ">FE</span>ATURES</h1>


<div class="container row upper" style="margin: auto;">
<div class="col-lg-4"><div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
  <img src="images/aboutImage.png" class="card-image" alt="Avatar" >
  <button type="button" class="btn card-name">ONLINE PRESCRIPTIONS</button>
  </div>
  <div class="flip-card-back">
  
<p>Safeguard all the tips, prescriptions & reports digitally for future use</p> 
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-lg-4">
  <div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
  <img src="images/8.png" class="card-image" alt="Avatar" >
  <button type="button" class="btn card-name">FIND NEARBY
    DOCTORS</button>
  </div>
  <div class="flip-card-back">
  
<p>Provide accurate information about their disease, the tests they can take, and the doctors nearby to whom they can consult</p>
  </div>
  </div>
  </div></div>
  
  <div class="col-lg-4"><div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
    <img src="images/1.png" class="card-image" alt="Avatar" >
    <button type="button" class="btn card-name">
    MEDICAL HISTORY</button>
    </div>
    <div class="flip-card-back">
    
<p>Automate the traditional way of writing prescriptions by digitising them and keeping a record </p>    
    </div>
    </div>
    </div>
    </div>
  
  </section>

  <section id="features">
    <h1 class="aboutStyle"><span style="font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 16px;
      color: #FE4A5B;
      ">WH</span>Y US?</h1>
  </section>

  <section id="why">
    <img src="images/why_us.png" class="why_image" alt="Avatar" style="width: 100%; padding-top: 40px;" >
  </section>

  <%-include ("partials/footer") -%>