<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/knowmore.css">
<div class="start">
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto styleNav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./explore">BOOK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./records">HISTORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">TEAM</a>
            </li>
            <li class="nav-item">
              <a href="./profilepage"> <button type="button" class="btn btnStyle">SHRUTI</button></a>
             </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
      <img src="/images/report.png" style="position: relative; padding-top: 9%; height: 500px; " alt="doctor"/>
     </div>
     <div class="col-sm-6">
       <br><br><br>
       <h5 class="heading">CBC- REPORT</h5>
       <p class="para1">Test Centre: Nirmaya Test Centre <br>
        Date & Time: 03-04-20 & 11:02:32</p>       
       <p class="para2">You have been advised to take dueia, dhbcuan, diqeduq, diefndiq and rneiwun.You have been advised to take dueia, dhbcuan, diqeduq, diefndiq and rneiwun.</p>
     <p class="para2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.</p>
     <p class="para2">You have been advised to take dueia, dhbcuan, diqeduq, diefndiq and rneiwun.You have been advised to take dueia, dhbcuan, diqeduq, diefndiq and rneiwun.</p>
     <p class="para2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.</p>

       <center>
        <div style="padding-top: 10px;"><button class="btn" style="background-color: #E5E5E5; padding-left: 25px; padding-right: 25px;"><i class="fa fa-download"></i></button>
            <button class="btn" style="background-color: #E5E5E5; padding-left: 25px; padding-right: 25px;"><i class="fa fa-eye"></i></button></div>
      </center>
      </div>
     </div>
    </div>
 </section>


</div>


<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

<%-include ("partials/footer") -%>
