<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/learn.css">
<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<div class="start">
<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto styleNav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btnStyle">SIGN IN</button>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
     </section>

  <section id="header">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
       <img src="/images/exploreheader.png" style="position: relative; left: -160px" alt="doctor"/>
      </div>
      <div class="col-sm-6">
        <h2 class="aboutHeading">Learn<br> And Explore</h2>
        <button class="btn medicalBtn2">FIND DOCTORS</button>
       </div>
      </div>
     </div>
  </section>
    </div>
  <section id="list">
      
      <button class="btn hospi-btn">HOSPITALS</button>
      <button class="btn disease-btn">DISEASES</button>
      <button class="btn doctor-btn">DOCTORS</button>

  </section>
  <section id="diseases" style="padding-top: 5%;">
    <div class="container disease-head">
        <h4 class="head-deal">COMMON DISEASES</h4>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 13rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">  <div class="card" style="width: 13rem; background-color: #E5E5E5">
            <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
            <div class="card-body" style="background-color: #FE4A5B; color: white;">
              <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
            </div>
          </div></div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/human.png" alt="Card image cap">
              <div class="card-body" style="background-color: #FE4A5B; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
         
      </div>
       
         
    </div>
    </section>
    <section id="hospitalsec" style="padding-top: 5%;">
      <div class="container hosp-head">
          <h4 class="head-deal">NEARBY HOSPITALS</h4>
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
             
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
          
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                  <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                </div>
              </div>
            </div>
           </div> 
          
        </div>
         
           
      </div>
      </section>

      <section id="hospitalsec" style="padding-top: 5%;">
        <div class="container hosp-head">
            <h4 class="head-deal">NEARBY HOSPITALS</h4>
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
               
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
            
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card" style="width: 13rem;  height:13rem; background-color: #E5E5E5">
                  <img class="card-img-top" style="height: 11vw;" src="/images/hospi.png" alt="Card image cap">
                  <div class="card-body" style="background-color: #FE4A5B; color: white; padding: 0.25rem 0.25rem 0.25rem 0.25rem;">
                    <p class="card-text ftr-p" style="text-align: center;" >HOSPITAL</p>
                  </div>
                </div>
              </div>
             </div> 
            
          </div>
           
             
        </div>
        </section>
    
    <section id="features" style="padding-top: 5%;">
        <h1 class="aboutStyle"><span style="font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 56px;
          color: #FE4A5B;
          ">FE</span>ATURES</h1>
       
          <div class="container" style="margin: auto;">
          <div class="row">
            <div class="col-4">
              <div class="card cardh" style="width: 18rem; background-color: #E5E5E5;">
                <img class="card-img-top" style="height: 18vw;" src="/images/4.png" alt="Card image cap">
                <div class="card-body" style="background-color: #000000; color: white;">
                  <p class="card-text ftr-p" style="text-align: center;">ONLINE PRESCRIPTIONS</p>
                </div>
              </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;"src="/images/6.png" alt="Card image cap">
              <div class="card-body" style="background-color: #000000; color: white;">
                <p class="card-text ftr-p" style="text-align: center;">FIND NEARBY
                  DOCTORS</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem; background-color: #E5E5E5">
              <img class="card-img-top" style="height: 18vw;" src="/images/5.png" alt="Card image cap">
              <div class="card-body" style="background-color: #000000; color: white;">
                <p class="card-text ftr-p" style="text-align: center;" >COMPLETE MEDICAL HISTORY</p>
              </div>
            </div>
          </div>
          </div>
        </div>
        

      <script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

<%-include ("partials/footer") -%>
