<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/records.css">
<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<div class="start">
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto styleNav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./explore">BOOK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./records">HISTORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">TEAM</a>
            </li>
            <li class="nav-item">
             <a href="./profilepage"> <button type="button" class="btn btnStyle">PROFILE</button></a>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>
  </section>


  <section id="header">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
       <img src="/images/recordsVector.png" style="position: relative; padding-top: 18%; text-align: right; width: 80%" alt="doctor"/>
      </div>
      <div class="col-sm-6">
        <h2 class="aboutHeading">Check your <br> Medical Records</h2>
       <a href="#info"><button class="btn medicalBtn2">MEDICAL RECORDS</button></a>
       </div>
      </div>
     </div>
  </section>
    </div>
  

  <section id="info">
  <section id="records">
    <div class="row-sm-6">
        <button class="btn" style="background-color: #FE4A5B; color: white;">All</button>
        <button class="btn">Dental</button>
        <button class="btn">Neuro</button>
    </div>
  </section>
  
  <section id="infoCard">
    <div class="card-group">
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
          <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
      <div class="card">
        <img src="/images/hospital4.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
             <a href="./know" style="text-decoration: none; color: black !important"><h5 class="card-title">Malaria</h5></a>
          <p class="hospital">NIRMAYA CONSULTANCY CENTER</p>
          <p class="date">Date: 25-08-21</p>
        </div>
        <div class="card-footer">
          <small class="text">Documents Attached: CBC Report</small>
        </div>
      </div>
    </div>
  </section>
</section>

<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

<%-include ("partials/footer") -%>
