<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/records.css">
<div class="start">
<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto styleNav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btnStyle">SIGN IN</button>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
     </section>

  <section id="header">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
       <img src="/images/record.png" style="position: relative; left: -160px" alt="doctor"/>
      </div>
      <div class="col-sm-6">
        <h2 class="aboutHeading">Check your <br> Medical Records</h2>
        <button class="btn medicalBtn2">Medical Records</button>
       </div>
      </div>
     </div>
  </section>
    </div>
  
  <section id="Records">
    <div class="row-sm-6">
        <button class="btn medicalBtn2">All</button>
        <button class="btn medicalBtn">Dental</button>
        <button class="btn medicalBtn">Neuro</button>

    </div>
  </section>
