.btnStyle{
height: 40px;
color:#fff;
background-color: #FE4A5B;
border-radius: 5px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
font-weight: 400;
padding: 4px 8px 4px 8px;
}
.clr{
	clear:both;
    height: 35px;
}
/* .feature_btns{
} */


.styleNav > li{
font-family: Roboto;
font-size: 14px;
font-style: normal;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
padding-left: 8px;
color: black;
}


.start{
    background-image: url('../images/homepagebg.svg');
    background-position: left top;
    background-repeat: no-repeat;
    padding-bottom: 250px ;
}

.aboutHeading{
font-family: Roboto;
font-size: 84px;
font-style: normal;
font-weight: 700;
line-height: 98px;
letter-spacing: 0em;
text-align: right;
margin-top: 30%;
}

.medicalBtn{
margin-top: 4%;
margin-left: 30%;
background: #E5E5E5;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: right;

}

.medicalBtn2{
margin-top: 4%;
background: #FE4A5B;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: right;
color: #FFFFFF;
margin-left: 5%;

}

.aboutStyle{
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
padding-left: 5%;
margin-bottom: 7%;

}



.paraStyle{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
letter-spacing: 0em;
text-align: left; 
margin-left:-90px;
}

.bgAbout{
    background-image: url(../images/ellipse.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.ftr-p{
    font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: center;

}
