.btnStyle{
    height: 40px;
    color:#fff;
    background-color: #FE4A5B;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    }
    .clr{
        clear:both;
        height: 35px;
    }
    /* .feature_btns{
    } */
    
    
    .styleNav > li{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 8px;
    color: black;
    }

    .start{
        background-image: url('../images/aboutPage.svg');
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 650px ;
    }